<!DOCTYPE html>
<html>
<head>
	<title>VMS</title>
	<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Pacifico&family=Playfair+Display:ital,wght@1,500&display=swap" rel="stylesheet">
	    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
	 <link  rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	
	<style type="text/css">
		body{
			background:url("https://www.pixelstalk.net/wp-content/uploads/images2/1920x1080-Dark-Backgrounds-Hd.jpg")
		}
		
		header.record{
	padding-top:9.5rem;
	font-weight: 200;
			font-size: 1.2em;
			font-family: 'Oswald', sans-serif;
			color :white;
}	
		
		.columns header{
			font-weight: 300;
			font-size: 2em;
			font-family: 'Oswald', sans-serif;
			color :#c8f4f7;
		}
		
		.mainrow{
			font-size: 1.5em;
			color : white;
		}
		
		container{
			margin-bottom:50px
		}
	</style>
	
</head>
<body>
	
	
<!-- 	Navbar-->
<nav id="main-navbar" class="navbar navbar-expand-md navbar-dark py-0 fixed-top">
  <a class="navbar-brand" href="#"> <header> <img src="https://upload.wikimedia.org/wikipedia/en/3/3a/Ahmedabad_University_logo.png" width="30" height="30"></header></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/home">LOGOUT Admin</a>
      </li>
    </ul>
  </div>
</nav>
	
	
<header class="record">
<div class="container columns">
	<a class="btn btn-success btn-lg hvr-grow" href="/details">User Gate Pass Details</a>
	<a class="btn btn-warning btn-lg disabled" href="#" >All FeedBacks</a>
<header>All Feedback Forms</header>
	<hr>
	<hr>
	
	<table style="width:100%" class="ui inverted teal celled table tb">
		<thead>
		<tr class="mainrow">	
		<td>NAME</td>		
		<td>BUILDING_VISITED</td>
		<td>CAMPUS</td>
		<td>STAFF</td>
		<td>STUDENTS</td>
		<td>INFRASTRUCTURE</td>
		<td>EXPERIENCE</td>
		</tr>
		</thead>
		<tbody>
		<% data.forEach(function(datad){ %>
		<tr>
		<td><%= datad.name %></td>
		<td><%= datad.building %></td>
		<td><%= datad.campus %></td>
		<td><%= datad.staff %></td>
		<td><%= datad.students %></td>
		<td><%= datad.infrastructure %></td>
		<td><%= datad.experience%></td>
		</tr>
		<tr>
		<td>COMMENTS:</td>
		<td><%= datad.comments%></td>	
		</tr>
		<% }) %>
		</tbody>	
	</table>
</div>
</header>


<%- include("footer") %>
